.avatar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url('https://image.freepik.com/free-vector/hand-drawn-world-food-day_23-2148297200.jpg');
}
