.card {
  margin: 0;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  box-shadow: 0 16px 64px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 3rem;
  overflow: hidden;
  background: #1a936f;
  color: white;
}
