.recipe-item {
  margin: 2rem 0;
}

.recipe-item__content {
  padding: 0;
  margin-top: 6rem;
}

.recipe-item__info {
  padding: 1rem;
  text-align: center;
  background-color: #DB7769;
  color: white;
}

.recipe-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
  background-image: url('https://image.freepik.com/free-photo/top-view-vegetable-composition-onions-garlics-peppers-greens-dark-background-seasoning-pepper-food-product-color_140725-31050.jpg');
}

.recipe-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-item__info h2,
.recipe-item__info h3,
.recipe-item__info p {
  margin: 0 0 0.5rem 0;
}

.recipe-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.recipe-item__modal-content {
  padding: 0;
}

.recipe-item__modal-actions {
  text-align: right;
}

.recipe-item__actions button,
.recipe-item__actions a {
  margin: 0.5rem;
}

@media (min-width: 768px) {
  .recipe-item__image {
    height: 20rem;
  }
}
